In [9]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [10]:
# cria uma conexão e salva os dados em um arquivo DuckDB
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

# Camada Bronze

In [14]:
# lê o arquivo CSV da landing zone
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivio'] = arquivo
df['data_ingestao'] = data_ingestao
df

   NATBR    MAKTX WERKS  MAINS  LABST nome_arquivio              data_ingestao
0  10004    SERRA  BT50    100    200   z0019_2.csv 2025-12-17 22:59:10.275180
1  10005  MACHADO  BT50    100    100   z0019_2.csv 2025-12-17 22:59:10.275180
2  10003    PREGO  BT10    100     60   z0019_2.csv 2025-12-17 22:59:10.275180

In [ ]:
#con.execute('''drop table if exists bronze_z0019''')

In [12]:
# criação da tabela bronze_z0019 no DuckDB
con.execute('''
    CREATE TABLE IF NOT EXISTS bronze_z0019 (
        NATBR VARCHAR,
        MAKTX VARCHAR,
        WERKS VARCHAR,
        MAINS VARCHAR,
        LABST VARCHAR,
        nome_arquivio VARCHAR,
        data_ingestao TIMESTAMP
    )
''')

In [15]:
con.execute('INSERT INTO bronze_z0019 SELECT * FROM df')
resultado = con.execute('SELECT * FROM bronze_z0019').fetchdf()
resultado.head(10)

   NATBR     MAKTX WERKS MAINS LABST nome_arquivio              data_ingestao
0  10001  PARAFUSO  BT10   100   100   z0019_1.csv 2025-12-17 22:58:49.621316
1  10002   MARTELO  BT50   100  1500   z0019_1.csv 2025-12-17 22:58:49.621316
2  10003     PREGO  BT10   100    50   z0019_1.csv 2025-12-17 22:58:49.621316
3  10004     SERRA  BT50   100   200   z0019_2.csv 2025-12-17 22:59:10.275180
4  10005   MACHADO  BT50   100   100   z0019_2.csv 2025-12-17 22:59:10.275180
5  10003     PREGO  BT10   100    60   z0019_2.csv 2025-12-17 22:59:10.275180

In [16]:
con.close()